[2015-10-13 17:44] truedat101 opened #1 "The AWS IoT "Connect A Device" Screen does NOT have an "Other" radio button option"
Following these steps: "Please make selections as described in the above screenshots. We will let the AWS IoT service create a certificate and the corresponding policy for us. Then click on Generate Certificate and Policy." ...  I don't get an "Other" radio button option, only the options seen below.
![screenshot 23](https://cloud.githubusercontent.com/assets/64202/10463089/486ab3f4-7197-11e5-8fd7

[2015-10-13 17:45] truedat101 commented on #1
Please modify your docs to either describe a work around, fix, or contact AWS to find out what's up.

[2015-10-14 18:47] nikitanerkar commented on #1
Hi,
Thanks for pointing that out.
Please following steps mentioned below,
- Select Embedded C and click on 'Generate Certificate and Policy'. This will generate certificate, private and public key.
- Download and store the private key and the certificate that has been generated. These will then be configured in our starter kit. The starter kit will use this certificate to authenticate itself with

[2015-10-14 20:53] truedat101 commented on #1
Great, will follow up and let you know the result.  Thank you.

[2015-10-15 06:51] truedat101 commented on #1
Alternate steps work.  Use Embedded-C instead of "Other.

[2015-10-15 06:51] #1 closed

[2015-10-15 06:52] truedat101 opened #2 "Marvell IoT Starter Kit device when powered over USB does not advertise a WiFi network"
Instructions suggest:  aws_starter-WXYZ

should be found.  I don't see it on from my Mac WiFi or from a phone.  Perhaps wrong firmware on Marvell IoT device?  How would I know?

[2015-10-15 12:59] Broncobob76 commented on #2
When attempting to connect over WiFI using aws_Starter-FCBA I am prompted for my security key. I cannot find the wifi security key value anywhere in your documentation. This should be added to the quick start documentation page.

[2015-10-15 16:14] nikitanerkar commented on #2
It is marvellwm. Sorry for the inconvenience. We will update the document.

[2015-10-18 21:28] truedat101 commented on #2
@nikitanerkar  no, it's unfortunate but no matching aws_starter_* SSIDs show up.  LED on gpio_40 (yellow) blinks at a slow interval.  Other lights are solid.

[2015-10-24 05:51] mbairagi opened #3 "Certificates upload screen not available"
I don't see any screen after provisioning to enter certificate information.

[2015-10-28 01:03] kedars commented on #3
It seems some kits contained an older version of the AWS starter demo firmware. Could you please try with the latest flashing guidelines: https://github.com/marvell-iot/aws_starter_sdk/wiki/Flashing-the-Starter-Kit

[2015-10-28 01:03] kedars commented on #2
It seems some kits contained an older version of the AWS starter demo firmware. Could you please try with the latest flashing guidelines: https://github.com/marvell-iot/aws_starter_sdk/wiki/Flashing-the-Starter-Kit

[2015-10-28 03:33] truedat101 commented on #2
@kedars excellent.  I will get onto trying this during the remainder of the week.  I will be in touch for result so we can close this item.

[2015-10-28 06:05] mbairagi commented on #3
Thanks Kedar. Are there any instructions on how to flash kit with Windows machine?

[2015-10-30 21:06] kedars commented on #3
Could you try the following:
* Pull the latest git changes
* Install python 2.7 for Windows
* Install OpenOCD and the drivers as mentioned in: https://github.com/marvell-iot/aws_starter_sdk/tree/master/wmsdk/tools/OpenOCD/Windows
* And then flash using
[code]

[2015-11-02 06:52] mbairagi commented on #3
In the instruction it says "Unzip OpenOCD tarball and copy the contents of bin/ folder (for 32-bit Windows machines) or bin-x64/ folder (for 64-bit Windows machines) to this folder."
Could you please elaborate what you mean by "this folder".
Thanks

[2015-11-02 10:42] rahulgm commented on #3
This means 'wmsdk/tools/OpenOCD/Winodws' folder which contains README.md.

At the end of installation, AWS SDK should Windows OpenOCD binary present as wmsdk/tools/OpenOCD/Windows/openocd.exe.

[2015-11-06 18:08] truedat101 opened #6 "Mac Open OCD Setup doesn't work on OS X 10.11.1 when trying to do a firmware update"
After following these steps
https://github.com/marvell-iot/aws_starter_sdk/wiki/Mac%20Development%20Host%20Setup

Reflashing firmware fails:

\> ./wmsdk/tools/OpenOCD/flash.py -f dist/aws_starter_sdk-2015_11_04.blob

Resetting flash to factory settings
Using OpenOCD interface file ftdi.cfg
Open On-Chip Debugger 0.9.0 (2015-09-23-21:46)
Licensed under GNU GPL v2
For bug reports, read
	http://openoc

[2015-11-06 18:09] truedat101 commented on #6
The steps to avoid driver conflict were performed first:

  \> sudo kextunload -p -b com.apple.driver.AppleUSBFTDI
  \> sudo kextutil -b com.apple.driver.AppleUSBFTDI -p AppleUSBEFTDI-6010-1

[2015-11-06 18:17] ameyinamdar commented on #6
Can you please check the libusb library version? 0.1.12 (package version 1.0.19_0) is known to work which can be installed using macports or brew on 10.11.1.

$ sudo port install libusb @1.0.19_0

$ sudo port activate libusb @1.0.19_0

$ libusb-config --version
0.1.12

[2015-11-06 18:22] truedat101 commented on #6
$brew list libusb
/usr/local/Cellar/libusb/1.0.20/include/libusb-1.0/libusb.h
/usr/local/Cellar/libusb/1.0.20/lib/libusb-1.0.0.dylib
/usr/local/Cellar/libusb/1.0.20/lib/pkgconfig/libusb-1.0.pc
/usr/local/Cellar/libusb/1.0.20/lib/ (2 other files)

[2015-11-06 18:29] ameyinamdar commented on #6
Can you please try using 1.0.19 version of libusb?

[2015-11-06 18:43] truedat101 commented on #6
I will try to figure out how to get brew to switch back to an older version of libusb.  Note, 99% of the people installing today on a newly upgrades mac os X 10.11 using brew will not end up with a backport of libusb, but the latest supported version.  Switching versions is non-trivial.

[2015-11-06 18:44] truedat101 commented on #6
And trying to have mac ports and brew on the same system is a non-option.

[2015-11-06 19:30] truedat101 commented on #6
After some effort, I figured out how to rollback to an older version of brew and install libusb 1.0.19.  Exact same result.

[2015-11-06 19:31] truedat101 commented on #6
I am going to roll forward to the default libusb 1.0.20.  If this is to work at all, we have to get it working with the latest version of brew.

[2015-11-06 19:34] truedat101 commented on #6
release info for my mac os x host: Darwin name.local 15.0.0 Darwin Kernel Version 15.0.0: Sat Sep 19 15:53:46 PDT 2015; root:xnu-3247.10.11~1/RELEASE_X86_64 x86_64

[2015-11-07 04:54] anujdeshpande commented on #6
I have the following setup and things work for me.
[code]
So it might not be a libusb version issue.

[2015-11-07 06:37] truedat101 commented on #6
$ls /dev/tty.*
/dev/tty.Bluetooth-Incoming-Port	/dev/tty.usbserial-00001014B
/dev/tty.usbserial-00001014A

[2015-11-07 06:45] anujdeshpande commented on #6
So there should be only one usbserial if the kext unload was successful. Can you check dmesg output when you run those 2 commands ?
Also, the unloading has to be done each time you boot your mac, but only once per session.

[2015-11-07 06:54] truedat101 commented on #6
Agreed. I have some ios stuff running.  Let me see what' up.

[2015-11-07 07:14] truedat101 commented on #6
Hrm.. no output during those commands.

I'm thinking there are so many reasons Apple can be a lost cause.  I've got some mobile phone daemon that I can't kill.  I'll do a little research to see what it might be.

[2015-11-07 07:46] truedat101 opened #7 "Doc: The Windows Development Host Setup can alternatively use cmder shell"
By using https://github.com/bliker/cmder/releases/download/v1.2/cmder.zip

one doesn't need to install the posix system system utilities.

[2015-11-07 08:09] truedat101 opened #8 "Windows Host Firmware Update gives LIBUSB_ERROR_NOT_SUPPORTED"
$ ./wmsdk/tools/OpenOCD/flash.py -f ./aws_starter_sdk-2015_11_04.blob
Resetting flash to factory settings
Using OpenOCD interface file ftdi.cfg
Open On-Chip Debugger 0.9.0 (2015-05-19-12:06)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
flash
adapter speed: 3000 kHz
adapter_nsrst_delay: 100
Info : auto-selecting first available session transport "

[2015-11-07 08:09] truedat101 commented on #8
System is Windows 10

[2015-11-07 08:13] truedat101 commented on #2
So it sounds like this bug is related to the old firmware.  I think you can close this.  I am still attempting the firmware update because I had an older pre-release kit.

[2015-11-07 11:22] anujdeshpande commented on #8
Same happens on Win8. The thing is it's not really an issue. I haven't figured out why it happens, but it does work exactly as expected.

[2015-11-07 11:28] anujdeshpande commented on #7
This looks interesting. Trying it out in a bit.
Another approach to solving the cross platform issue is porting everything to python natively.
We have done that for [which right now](https://github.com/marvell-iot/aws_starter_sdk/blob/master/wmsdk/tools/OpenOCD/ramload.py#L16) in the ramload script. thoughts ?

[2015-11-07 16:11] truedat101 commented on #7
Sure, python 2.7 is on mac and linux by default.  Using chocolatey command, one can easily fetch and manage windows dependencies like Python or just use the installer.

[2015-11-07 16:12] truedat101 commented on #8
It appears to complete the steps, I think.  Is that why you say it's not really an issue?

[2015-11-07 16:13] truedat101 commented on #8
At the end of this, my 88M device I reset, but it doesn't have any blinking lights and isn't emitting a WIFI SSID.

[2015-11-08 21:28] msaksena commented on #8
Do you have a serial console set up? If so, you should be able to see the output from the device on the console.

[2015-11-09 01:09] truedat101 commented on #8
I will try that.

[2015-11-09 21:44] truedat101 commented on #8
So I've got a "Tera Term" app connected to the device.  I don't see any serial output from the device.  Do I need to run the reflash command from an elevated shell?

[2015-11-09 21:57] truedat101 opened #9 "Windows Host Setup WIKI missing instructions on Serial Debug Setup"
If you look under here: https://github.com/marvell-iot/aws_starter_sdk/wiki/Windows-Development-Host-Setup

It does not include set up instructions for serial debug setup.  I realize the setup is pretty typical or common in terms of what might already work other MRVL SoCs.  However, it might be useful to provide these instructions for Windows (probably Linux and esp. Mac).

[2015-11-09 22:22] msaksena commented on #9
Yes, of course. We will get that fixed.

[2015-11-09 22:36] truedat101 commented on #8
wondering if this board is now bricked.  I'll try the linux set up and see if that recovers the situation.  Otherwise, I think I have some new boards arriving and will use those.

[2015-11-09 23:27] truedat101 opened #10 "Document Factory Reset for board if that is possible"
Would be good to offer steps for factory reset (if that is possible with this SDK and configuration)/

[2015-11-10 06:09] kedars commented on #9
Fixed!

[2015-11-10 06:09] #9 closed

[2015-11-10 06:11] kedars commented on #10
This is documented here: https://github.com/marvell-iot/aws_starter_sdk/wiki/Getting%20Started%20Guide#reset-to-factory-defaults

[2015-11-10 06:11] #10 closed

[2015-11-10 06:14] kedars commented on #8
Just to confirm: Could you verify your console settings with the console instructions that I updated on wiki. Also, could you try pressing the reset button on the kit, after the serial console is connected.

Alternatively, since all the software is similar, I am wondering if this could be an issue with some incorrect Jumper settings, could you take a snap of the kit and attach it over here?

[2015-11-10 06:46] truedat101 commented on #8
Let's start with Jumpers:
![img_20151109_224106](https://cloud.githubusercontent.com/assets/64202/11056168/b2f8e7d4-8733-11e5-9479-718562a4b49e.jpg)

[2015-11-10 09:58] kedars commented on #8
Hmm, all looks to be in order to me... Can you cross-check the serial-console as I mention above.

[2015-11-10 15:49] truedat101 commented on #8
Sure, when connected over serial:

Build Time: Nov  4 2015 14:24:25

#### AWS STARTER DEMO ####

* CLICK ON RESET, RELEASE *
Build Time: Nov  4 2015 14:24:25

#### AWS STARTER DEMO ####

[2015-11-10 15:51] truedat101 commented on #8
After this, I am expecting to get some blinking lights but I only have D1 and D9? leds lit solid green.

[2015-11-10 15:59] truedat101 commented on #10
That reset is only dealing with the aws demo firmware, correct? This resets back to the clean demo state, or does it actually move back to a recovery image?

[2015-11-11 05:58] truedat101 commented on #6
It's probably safe assume this is due to something else claiming the interface.  Whatever the case, it should be noted somewhere under the Mac OS X Host Setup section troubleshooting some of the steps above to sort out what the problem is.  I don't have a root cause, but I suspect somesoftware I have is sitting on the usb interface.

[2015-11-11 22:31] truedat101 commented on #8
I received a new unit.  It had firmware already loaded but not the AWS IOT demo firmware.  It would boot up, and displayed a blinking LED on D6 and solid on D7.  I was able to see full boot sequence via debugger.

I proceeded to perform a Flash update, per the instructions.  After this process completes, the 2 LEDs D6/D7 are dark, and no longer lit.  A reset (or pulling of power) doesn't get them

[2015-11-11 23:37] truedat101 opened #11 "Building Firmware Images On Windows gets build error"
Following "Building Firmware Images" instructions, I get a multiple target patterns error.

Make version is:
GNU Make 3.81
Copyright (C) 2006  Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.

This program built for i386-pc-mingw32

[code]

[2015-11-12 09:40] niknaknet opened #12 "getting started guide 'connect a device' page not consistent with options"
hi,

when working through the getting started guide, the 'connect a device' page on the AWS IoT console is shown to have an 'other' option.

this option does not exist, and AWS support say it's not going to.  Can you update the document with the correct options?

Nick

[2015-11-14 16:21] macksburg opened #13 "There is no "other" selection while trying to connect a device"
The instructions say to click on connect a device.  On that screen it shows an "other" option to select.  Other is not showing up.  I see the following three options.

Embedded C
NodeJS
Arduino Yun

[2015-11-14 16:45] nikitanerkar commented on #13
Please select Embedded C option and create the certificate and keys. Sorry for the inconvenience.

[2015-11-14 16:46] nikitanerkar commented on #12
Please select Embedded C option and create the certificate and keys.
Sorry for the inconvenience. We will update the document. Thanks!

[2015-11-16 05:16] anujdeshpande commented on #13
@macksburg thanks ! Fixed it in the documentation
https://github.com/marvell-iot/aws_starter_sdk/wiki/Getting-Started-Guide#configuring-your-aws-iot-service

[2015-11-16 05:16] #13 closed

[2015-11-16 05:17] anujdeshpande commented on #12
@niknaknet thanks ! Fixed it in the documentation
https://github.com/marvell-iot/aws_starter_sdk/wiki/Getting-Started-Guide#configuring-your-aws-iot-service

[2015-11-16 05:17] #12 closed

[2015-11-16 06:16] rahulgm commented on #8
Yes, the device can be recovered. There seems to be an OpenOCD error LIBUSB_ERROR_NOT_SUPPORTED that could be the cause for improper flashing. We haven't observed this on our Win10 setup, but will try a few more machines and get back to you.

[2015-11-16 06:20] rahulgm commented on #10
No, it programs the entire flash which includes, along with AWS starter demo, other components such as bootloader, wifi firmware, configuration data etc.

[2015-11-16 07:12] anujdeshpande commented on #8
Hey @truedat101 just to be sure, could you also check the md5 checksum using [this](http://www.microsoft.com/en-us/download/details.aspx?id=11533) Microsoft tool

I have added the checksum value to the release info [here](https://github.com/marvell-iot/aws_starter_sdk/releases)

[2015-11-16 13:50] macksburg commented on #13
@anujdeshpande Thanks!

[2015-11-17 04:10] anujdeshpande commented on #7
Thanks for the suggestion @truedat101 !
Closing this issue to reduce the clutter

[2015-11-17 04:10] #7 closed

[2015-11-17 04:11] anujdeshpande commented on #3
@mbairagi were you able to provision the certificates after flashing the new blob ?

[2015-11-17 04:32] anujdeshpande commented on #6
@truedat101 Added some more debug info from this thread to the [wiki](https://github.com/marvell-iot/aws_starter_sdk/wiki/Mac-Development-Host-Setup#fix-driver-conflict)
Closing this issue now, but please let us know what was claiming the interface when you figure it out.

[2015-11-17 04:32] #6 closed

[2015-11-17 04:35] #2 closed

[2015-11-17 07:19] truedat101 commented on #8
I will try.

[2015-11-17 11:09] rahulgm commented on #11
Currently we are supporting GnuWin32 platform for SDK build on Windows. MinGW and Cygwin support are currently experimental.

From your logs, it seems you are using mingw. Can you please try the build using GnuWin32 packages? You can find the instructions for GnuWin32 setup at https://github.com/marvell-iot/aws_starter_sdk/wiki/Windows%20Development%20Host%20Setup

Also make sure that mingw or cyg

[2015-11-20 10:29] #11 closed

[2015-11-24 01:17] bhadrip opened #19 "Mac OS Yosemite setup issue"
Hi,
I tried following [this](https://github.com/marvell-iot/aws_starter_sdk/wiki/Mac%20Development%20Host%20Setup#fix-driver-conflict) on my MAC OSX Yosemite, but i still get the 2 drivers and i am not able to erase the flash using Eclipse.
I get the following error:
[code]
https://github.com/marvell-iot/aws_starter_sdk/wiki/Mac%20Development%20Host%20Setup#fix-driver-conflict

Can you please let

[2015-11-24 04:48] anujdeshpande commented on #19
@bhadrip can you check the output of the following command right after you run the 2 unload commands from the wiki. Also, make sure you restart your machine and have the board connected over usb.

    sudo dmesg

It should be something like

[code]

[2015-12-01 03:37] bhadrip commented on #19
Hi @anujdeshpande ,

I don't see any message with `sudo dmesg` associated with FTDI. It does not unload or load.
I am working with a Windows machine to overcome this problem temporarily.

Thanks
Bhadri

[2015-12-01 03:56] bhadrip opened #20 "Flash layout issue"
Hi,
I am using an old AB-88MW30X V2.0 board.I tried flashing the https://github.com/marvell-iot/aws_starter_sdk/releases blob file. It succeeded but no wifi AP shows up.

So downloaded the wmsdk_bundle-3.2.12 and followed the steps in Documentation Bundle for using eclipse and reflash everything.

I get the following error when loading the wm_demo sample from the wmsdk_bundle-3.2.12 to RAM(Memory)

[2015-12-01 03:58] anujdeshpande commented on #20
Hey @bhadrip we also have a gitter channel which you could join to chat with the devs
https://gitter.im/marvell-iot/aws_starter_sdk
Might be easier to resolve this over chat

[2015-12-06 00:19] niknaknet commented on #20
I have the same issue after flashing with the 'releases' blob(s)
building from source & flashing with either of the current ones doesn't solve the issue.
is there a full 'factory reset' blob?
I have been using bin and the --mcufw option to flash.py for my own build of the aws_starter_demo .. how should i build a blob from map and bin files?

[2015-12-06 08:33] niknaknet commented on #20
oh, and for the release blobs, i used flash.py -f as per the instructions in the wiki.

[2015-12-07 03:55] kedars commented on #20
@bhadrip @niknaknet We have identified a bug that manifests itself on some of the boards. We are working on getting a fix out. I will have an update shortly. Thanks!

[2015-12-12 22:18] carlchansen commented on #3
Any update on this? I have the same issue. Thanks!

[2015-12-18 21:46] vikramsb2k opened #24 "IoT device not launching the aws_starter-WXYZ network to connect to"
Hello,

I have been trying to get started with the Marvell MW302 IoT starter kit that I bought on amazon but seems like when I connect it to the PC, it is supposed to launch its "own" network which i should be able to connect to, but it is not launching that network and i dont see it on my wireless network list.

Can you please help suggest what might be going wrong here?

Thanks
VIk

[2015-12-18 21:52] msaksena commented on #24
Vik:

It seems like some of the kits shipped with old firmware. Please flash the kit with the latest firmware. Instructions available at: https://github.com/marvell-iot/aws_starter_sdk/wiki/Flashing-the-Starter-Kit.

Manas

[2016-01-01 19:07] poorboy44 commented on #19
Hi @anujdeshpande,

I also have the same issue.  I can't get the kext to unload or load.  I am working on Mac OSX Yosemite.  Please advise -- this is blocking further progress on my project.

Scotty

[2016-01-01 19:10] anujdeshpande commented on #19
Hey @poorboy44 Can you try kext unload command without the `-p` flag ?

[2016-01-01 19:12] poorboy44 commented on #19
I get the following

[code]

[2016-01-01 19:13] poorboy44 commented on #19
I get the following:

[code]

[2016-01-01 19:15] anujdeshpande commented on #19
Can you also share the output of `lsusb` ? Thanks

[2016-01-01 19:20] poorboy44 commented on #19
[code]

[2016-01-01 23:48] poorboy44 commented on #19
Hi @anujdeshpande
Any update? I tried upgrading to OSX El Capitan 10.11.2 but I'm having the same issues. Here's the error I get when I try to flash:

[code]

[2016-01-02 00:25] anujdeshpande commented on #19
Can you try doing the following :

1. Reboot
2. Connect the board to your Mac
3. Run `ls /dev/tty.*` and save the output
4. `sudo kextunload -b com.apple.driver.AppleUSBFTDI`
5. `sudo kextutil -b com.apple.driver.AppleUSBFTDI -p AppleUSBEFTDI-6010-1`
6. Run `ls /dev/tty.*` and save the output
7. Run `libusb-config --version` and save the output

Please paste the output here so that I can try and d

[2016-01-02 01:32] poorboy44 commented on #19
[code]

[2016-01-03 03:08] truedat101 commented on #19
Throwing #6 into the discussion, as this was closed out but was basically the same set of issues.  Is there something else claiming the interface?

[2016-01-03 20:38] poorboy44 commented on #19
How can I check that?

Sent from my iPhone

[2016-01-03 20:53] truedat101 commented on #19
Hrrmmm, that was what I was wondering.  On posix systems, you use lsof.  I don't know on Mac OS X.  I thought maybe I had something on my mac that was hogging my interfaces, like a cell phone sync software or maybe some other driver that I'd installed for some IoT device.  However, without instructions on how to debug the possibilities or variations on the Mac, it always makes the Mac a bit less d

[2016-01-03 20:53] truedat101 commented on #19
In any case, I think #6 should have been kept open as the problem was unresolved at closure time (I gave up on the issue).

[2016-01-04 05:04] anujdeshpande commented on #19
@poorboy44 Can you try out `sudo kextload -b com.apple.driver.AppleUSBFTDI`. This is manually trying to load the driver for FTDI.

@truedat101 your comment has linked #6 to this discussion (thanks!), so that should redirect anyone who finds themselves there.

[2016-01-05 03:20] poorboy44 commented on #19
Still having errors.  Can we jump on a Google Hangout to debug? My email is poorboy44@gmail.com

[code]

[2016-01-05 03:22] anujdeshpande commented on #19
@poorboy44 We have a gitter channel which is quite active

https://gitter.im/marvell-iot/scu_aws_starter_sdk

[2016-01-12 01:26] marienifura commented on #20
hi Kedars, any progress on the update?

[2016-01-12 04:28] kedars commented on #20
@marienifura This bug is now fixed. The fixes are available in the latest image in the 'Releases' section.

[2016-01-12 04:28] #20 closed

[2016-01-12 17:05] CKnight28 commented on #3
Hi,

I'm running into this myself and having a crazy hard time getting the reflash to work on my Win7 Pro machine.

I'm stuck on the flash command, and receiving the errors:
Error: no device found
Error: unable to open ftdi device with vid 0403, pid 6010, description 'Dual RS232' and Serial '*'

I've tried several things. I've renamed the description to match (for the interface 0 string), I've tri

[2016-01-14 08:59] anujdeshpande commented on #19
So this issue was closed by removing the conflicting FTDI drivers that were getting loaded by default.

[2016-01-14 08:59] #19 closed

[2016-01-29 04:28] truedat101 commented on #8
Will try this again on the windows side.  I have a new clean system (WIn10) to test with.

[2016-01-29 20:23] truedat101 commented on #8
Still same batch of problems with LIBUSB_ERROR_NOT_SUPPORTED.  Perhaps a driver issue?

[2016-02-01 07:11] anujdeshpande commented on #24
[lambda.zip](https://github.com/marvell-iot/aws_starter_sdk/files/111812/lambda.zip)

[2016-02-07 06:27] truedat101 commented on #8
The error gets reported regardless of whether or not it works.  Is it safe to say this is a harmless warning?

A few details to note:

- Windows Firewall pops up when the flasher runs, so it is important to allow it
- The choice of a cygwin is important, though cygwin can be a hassle to install (downloader, selecting mirror, choosing components).  I have confirmed that the current Cmder (alternati

[2016-02-07 06:29] truedat101 commented on #8
I'd suggest this could be closed if the appropriate documentation of the 'harmless' nature of the errors can be done.

[2016-03-05 14:11] MalteJ opened #27 "Blocker: License missing!"
Hey there,

unfortunately the wmsdk hosted here on GitHub is missing a license.
Therefore it is not possible to fork this repo and/or build Open Source projects using the wmsdk.
It would be great to see the wmsdk under a BSD license!

Thanks!

Malte

[2016-03-06 16:28] dimkir opened #28 "After running for a while aws_starter_demo looses connectivity with AWS IoT"
When running the original `aws_starter_demo` included with the device,  it works properly for the first 15 minutes or so (after I have successfully configured AWS IoT credentials and home WiFi).

It works fine as you can see from the console output - I am able to publish the state of the buttons and also receive shadow update requests which  switch the led on and off.

### Output of serial console

[2016-03-07 18:53] nikitanerkar commented on #28
Even we have observed the behaviour you have mentioned. As you have correctly stated, the application is not receiving link loss event as the functions are not getting invoked, and therefore the issue is not with WiFi connectivity. We are further investigating the issue. Meanwhile, to fix this behaviour, on receiving 'Sending property failed' error, you can close the existing connection and reques

[2016-03-10 06:29] abhirocks550 opened #29 "How to write code on device?"
I am successfully able to connect the device to AWS IoT cloud and on and off LED from Aws.
Now i want to write hello world program on device. Where do i write program and upload that on device?
Like in Arduino we use Arduino IDE to create and upload program to device.How can i do that with MW302 device?

Can somebody help?Thanks.

[2016-03-10 06:41] anujdeshpande commented on #29
Hello @abhirocks550
Please check the following video tutorial, it shows how to upload code using the command line :
https://www.youtube.com/playlist?list=PLIYfgNqDE8r3Qhz1qDWJFI13GtgOjYdyz

You can also check out the [wiki](https://github.com/marvell-iot/aws_starter_sdk/wiki) where there are instructions for multiple operating systems.

To give a rough overview, you will have to install a cross co

[2016-03-10 06:43] anujdeshpande commented on #27
Hi @MalteJ : Our legal team are working on finding a compatible license as there are some binary blobs like the wifi firmware which are involved. I'll try and post an update in the coming week.

[2016-03-10 06:44] abhirocks550 commented on #29
Thanks for quick reply @anujdeshpande . I will look into it.

[2016-03-10 07:22] abhirocks550 commented on #29
I do not have much knowledge about embedded c. I tried make APP=sample_apps/hello_world command but got following error

make[1]: Entering directory `/home/abhijit/Desktop/AWS_IOT/aws_starter_sdk'
make[1]: arm-none-eabi-gcc: Command not found
make[1]: *** [bin//home/abhijit/Desktop/AWS_IOT/aws_starter_sdk/sample_apps/hello_world/src/main.o] Error 127
make[1]: Leaving directory `/home/abhijit/Deskt

[2016-03-10 07:25] anujdeshpande commented on #29
@abhirocks550 Please follow the steps given on https://github.com/marvell-iot/aws_starter_sdk/wiki/Development-Host-Setup to install the required tools on your machine

[2016-03-10 09:32] abhirocks550 commented on #29
@anujdeshpande  i follwed the above steps and successfully executed command and it created following files :

[axf] /home/abhijit/Desktop/AWS_IOT/aws_starter_sdk/bin/mw302_rd/hello_world.axf
 [bin] /home/abhijit/Desktop/AWS_IOT/aws_starter_sdk/bin/mw302_rd/hello_world.bin

but i am not able see output in minicom. What else steps are needed to see output?
Thanks.

[2016-03-10 09:37] anujdeshpande commented on #29
@abhirocks550 did you upload the generated .bin file to your board?

[2016-03-10 09:38] abhirocks550 commented on #29
How can i upload that .bin file to board?

[2016-03-10 09:40] anujdeshpande commented on #29
You can find more info on how to upload the generated files on the wiki :
https://github.com/marvell-iot/aws_starter_sdk/wiki/Flashing%20the%20Starter%20Kit

[2016-03-10 09:50] abhirocks550 commented on #29
After entering these commands

$ sudo wmsdk/tools/OpenOCD/flash.py --mcufw sudo wmsdk/tools/OpenOCD/flash.py --mcufw /home/abhijit/Desktop/AWS_IOT/aws_starter_sdk/bin/mw302_rd/hello_world.bin
$ sudo wmsdk/tools/OpenOCD/flash.py -r

minicom not able to connect to ttyUSB1 and even after i press reset button on device nothing changed:-(

[2016-03-10 09:51] anujdeshpande commented on #29
It should be
[code]
Can you also paste the output of your command here.

[2016-03-10 09:55] abhirocks550 commented on #29
aws_starter_sdk$ sudo wmsdk/tools/OpenOCD/flash.py --mcufw /home/abhijit/Desktop/AWS_IOT/aws_starter_sdk/bin/mw302_rd/hello_world.bin

## Ouput of this command is

Writing MCU firmware to flash...
Using OpenOCD interface file ftdi.cfg
Open On-Chip Debugger 0.9.0 (2015-07-15-15:28)
Licensed under GNU GPL v2
For bug reports, read
	http://openocd.org/doc/doxygen/bugs.html
flash
adapter speed: 3000 kH

[2016-03-10 09:57] anujdeshpande commented on #29
What minicom command and port did you use to connect to your board ?
Can you paste the output of ls /dev/tty* ?

[2016-03-10 09:59] abhirocks550 commented on #29
I used sudo minicom -s command

##Output

Welcome to minicom 2.7

OPTIONS: I18n
Compiled on Jan  1 2014, 17:13:19.
Port /dev/ttyUSB1, 15:17:13

Press CTRL-A Z for help on special keys

##Ouput of ls /dev/tty*

/dev/tty    /dev/tty16	/dev/tty24  /dev/tty32	/dev/tty40  /dev/tty49	/dev/tty57  /dev/tty8	    /dev/ttyS14  /dev/ttyS22  /dev/ttyS30
/dev/tty0   /dev/tty17	/dev/tty25  /dev/tty33	/dev/tty41

[2016-03-10 10:02] anujdeshpande commented on #29
This looks ok. What parameters did you put in for the baud rate, etc?

You could try the gpio example from the io demos sample apps directory to verify that there are no problems in uploading. This example does not require a serial console to check correctness.

[2016-03-10 10:04] abhirocks550 commented on #29
Following are parameters for minicom

A -    Serial Device      : /dev/ttyUSB1                              |
    | B - Lockfile Location     : /var/lock                                 |
    | C -   Callin Program      :                                           |
    | D -  Callout Program      :                                           |
    | E -    Bps/Par/Bits       : 115200 8N1

[2016-03-10 10:06] anujdeshpande commented on #29
https://github.com/marvell-iot/aws_starter_sdk/wiki/Linux%20Development%20Host%20Setup
Make sure that Hardware flow control is set to No

[2016-03-10 10:13] abhirocks550 commented on #29
I tried uploading gpio program on device how to i change status of LED?
where does this gets printed " Press button 2 to toggle state of LED?And where is button 2 on device?

[2016-03-10 10:16] anujdeshpande commented on #29
Please refer this image
https://raw.githubusercontent.com/marvell-iot/aws_starter_sdk_wiki_images/master/RD-88MW302-A0-V2%20wo%20shield.jpeg
pb_lambda is the one that you are looking for

[2016-03-10 10:19] abhirocks550 commented on #29
I tried pressing that but nothing changes, i mean now two LED's are on i think they are near D9 and R1.
but after pressing pb_lambda nothing changes :(. I feel like i am not able to understand this. Could you provide some resources for attempting this ?

[2016-03-10 10:50] anujdeshpande commented on #29
Can you do the following

1. Flash the blob from the releases section using flash.py -f
2. Flash your hello_world.bin using flash.py --mcufw
3. Reset the board and check your minicom console

Please do these in the exact order as mentioned

[2016-03-10 10:58] abhirocks550 commented on #29
Great. Thanks alot successfully able to upload hello_world.bin and able to see output in minicom.
I am not much aware about core embedded c, if i want write such programs myself then could you provide some links or books which i need to study?
Thanks for help.

[2016-03-10 12:47] #29 closed

[2016-03-10 13:50] MalteJ commented on #27
Hi @anujdeshpande
it would be great to make the Marvell WMSDK easily accessible and shareable. When I look at TI or NXP you just have to register at their website and can download the SDKs for their chips.
At Marvell unfortunately you have to sign NDAs, you have to be a company and so on. It is simply not possible to base an Open Source project on this - even when we're using the Marvell SDK under

[2016-03-11 09:57] anujdeshpande commented on #27
Hey @MalteJ as a fellow developer I can understand that these things are very frustrating. I have

24
31

    24

marvell-iot/aws_starter_sdk
Code
Issues 5
Pull requests 1
Wiki
Pulse
Graphs
Blocker: License missing! #27
Open
MalteJ opened this Issue 6 days ago · 2 comments
None yet
No milestone
No one—
Notifications

You’re receiving notifications because you were mentioned.
2 participants
@MalteJ

[2016-03-11 10:00] MalteJ commented on #27
thank you!
by the way, what is the difference between the SDK here in this repository compared to the WMSDK v3.3 in the marvell extranet? It looks different!?

Best,
Malte

[2016-03-11 10:04] anujdeshpande commented on #27
@MalteJ the SDK directory here consists of the headers and the compiled binary (libwmsdk.a), whereas the one that you got from Marvell extranet consists of the full sources.

[2016-03-11 10:26] MalteJ commented on #27
@anujdeshpande ahh, great!
At the moment the libs here in this repo are 4 months old. The WMSDK in the extranet is updated on a regular basis (last update two days ago).
It would be important to make the current version of the (precompiled) SDK available to the community.
Is there a way to generate a distributably package from the source? That would be nice. So when there's a new version in the ex

[2016-03-11 11:50] anujdeshpande commented on #27
@MalteJ We are developing something exactly like that, so that we can make the changes available as soon as possible. Although this won't be directly available in the wmsdk bundle, it'll be a part of our internal work flow. Making good documentation available for the existing drivers is also part of this effort
https://marvell-iot.github.io/aws_starter_sdk/

[2016-03-11 11:56] MalteJ commented on #27
Great!
I'm looking forward to your solution :-)

Am 11.03.2016 um 12:50 schrieb Anuj Deshpande:

[2016-03-11 22:31] sodle opened #32 "MQTT Subscriptions lost on device reconnnect"
I'm working with the AWS Starter Demo program on the Marvell MW302 board. Upon losing wireless connection, the software is able to reconnect to WiFi and to AWS, as demonstrated on line 364 of `sample_apps/aws_starter_demo/src/main.c`.

However, this causes MQTT subscription to stop working - the board is still able to publish state changes to AWS, but no longer responds to remote changes. Re-creat

[2016-03-14 04:25] ftiong commented on #3
Hi,

Any updates on this?  I am running into the same issue in Linux.

[2016-03-14 07:10] anujdeshpande commented on #3
Hello @mbairagi @carlchansen @CKnight28 @ftiong

1. Make sure that you have OpenOCD installed on your system. If you are on Linux, you will not have to do anything as the repo itself has the required scripts.
 - For Windows, follow the steps given [here](https://github.com/marvell-iot/aws_starter_sdk/wiki/Windows-Development-Host-Setup)
 - For Mac follow the instructions given [here](https://githu

[2016-03-14 07:18] anujdeshpande commented on #32
Is this related to #28 @nikitanerkar ?

[2016-03-14 20:21] sodle commented on #32
Is there a way to reboot the board from code? This would allow me to work around the issue for now. Thanks.

[2016-03-16 06:35] anujdeshpande commented on #32
@sodle unfortunately you won't be able to reboot the board from code using this SDK. We are working on pushing a fix for the MQTT issue, I'll post an update here once we do

[2016-03-18 20:39] BenoitEthier commented on #10
Pressing and holding the GPIO24 (lambda) for 10 secondes do not bring me de factory default! The documention is wrong or I have faulty biard?

[2016-04-16 22:41] rkamath13 opened #35 "How to read the PWM signal from the marvell board?"
I am trying to interface an ultrasonic sensor to the marvell board, it works on PWM.
I am trying to understand how to go about it.

any help will be appreciated!

thanks
Ramesh

[2016-04-17 16:00] anujdeshpande commented on #35
hi @rkamath13
You can take a look at some of the other sample apps for io https://github.com/marvell-iot/aws_starter_sdk/tree/master/sample_apps/io_demo

Your app will be similar but will include the following header file. The comments in the header file should help you get started
https://github.com/marvell-iot/aws_starter_sdk/blob/master/sdk/src/incl/sdk/drivers/mdev_gpt.h

To check out which pi

[2016-04-26 16:17] moondt opened #36 "88MW302 not connecting to AWS IoT after proper provisioning of board on local network"
Using 05 Nov 2015 Getting Started Guide on the Wiki at marvell-iot/aws_starter_sdk.
MacOS, XCode w/ CL Tools, MacPorts, OpenOCD 0.9.0, had minicom on my serial port during the provisioning (tried this with 2 different AWS accounts):
[code]
Also confirmed that I can ping the persistent IP address that I've associated with the board on my network.

Regarding the failed connect to AWS, wondering whet

[2016-04-27 04:30] anujdeshpande commented on #36
@moondt You can try updating the mcufw on your board using the latest source code. Simply run
`make APP=sample_apps/aws_starter_demo`.
Once you have done that, you can upload the new .bin that has been created to your board.

` sudo python sdk/tools/OpenOCD/flash.py --mcufw bin/mw302_rd/aws_starter_demo.bin `

Press reset and you should be good to go.

The blob is not up to date with the source co

[2016-04-27 21:48] moondt commented on #36
Thanks, anujdeshpande.  In anticipation of your answer, I had already installed the arm gcc embedded toolchain, per the instructions here.  I first tried 5.3.1 (2016q1 edition), but realized that the makefiles were expecting the previous version.  I now have 4.9.3 (2015q3 edition) installed, and in my environment PATH.  Compilation is fine, but during linking the build breaking on not finding the

[2016-04-27 22:31] moondt opened #37 "aws_starter_demo not building [Darwin, gcc-arm-none-eabi toolchain, aws_starter_sdk trunk]"
Darwin v15.4.0
MacPorts
OpenOCD 0.9.0
XCode upgraded with command line tools
gcc-arm-none-eabi-4_9-2015q3 toolchain
added gcc-arm-none-eabi bin and lib to environment PATH
downloaded aws_starter_sdk-master archive from this repo

cd {my path}/aws_starter_sdk-master
make clean
make APP=sample_apps/aws_starter_demo

These libraries built successfully:
 [ar] bin/libs/libaws_iot.a
 [ar] bin/libs/libfr

[2016-04-28 06:32] #36 closed

[2016-04-28 07:11] anujdeshpande commented on #37
Hey @moondt
I think it may be an issue with your PATH. I was able to set it up on a previously unconfigured machine without any errors.

I extracted the GNU toolchain and set the path as follows

[code]
I am running the following setup -
[code]
I was able to compile the binary as well as the axf.
[code]

[2016-04-29 00:57] moondt commented on #37
@anujdeshpande, I have a very similar setup as you:
[code]
My build still breaks on the axf.  I'll try the toolchain and aws_starter_sdk and demo installation again on a clean machine, but for my sanity would you tell me where in your system you have libc.a and libg.a?  From gcc-arm-none-eabi-4_9-2015q3:
[code]
(Mine are all under ./arm-none-eabi/lib/ )

[2016-04-29 06:36] anujdeshpande commented on #37
@moondt I can find it in the location where I extracted my toolchain

[code]

[2016-04-29 12:00] Prashant-Kmr opened #38 "Interfacing Grove-Water Sensor 101020018"
Hi I have written following code for interfacing Grove-Water Sensor 101020018 but values are not getting displayed for the detection of water please check it and suggest.

**sensor_water_drv.c:**

#include "wm_os.h"
#include "wmstdio.h"
#include "wmtime.h"
#include "wmsdk.h"
#include "board.h"
#include "mdev_gpio.h"
#include "mdev_pinmux.h"
#include "lowlevel_drivers.h"

#include "sensor_drv.h"
#i

[2016-04-29 12:20] anujdeshpande commented on #38
hi @Prashant-Kmr as discussed on Gitter, this is an issue with the sensor or wiring, and has nothing to do with the aws_starter_sdk.

Also, the sensor drivers have been implemented in a different repo.
https://github.com/prafullawadaskar/aws_starter_sdk/
So raising an issue on this repo will mislead other people.

[2016-04-29 12:20] #38 closed

[2016-04-29 12:27] Prashant-Kmr commented on #38
Hi,

thank you for response. Where do I get help on that issue?? As I find
issues are not allowed to open at
https://github.com/prafullawadaskar/aws_starter_sdk/ . Is this repo not
related to Marvell SDK??

On Fri, Apr 29, 2016 at 5:50 PM, Anuj Deshpande <notifications@github.com>
wrote:

[2016-05-11 14:18] salma-abdulaziz-ahmed commented on #3
Hi,

I am facing the same problem. I did everything described above and here in the output:

Salmas-MacBook-Pro:aws_starter_sdk salmaabdulaziz$ python sdk/tools/OpenOCD/flash.py -f /aws_starter_sdk_2016_05_02.blob
Resetting flash to factory settings...
Using OpenOCD interface file ftdi.cfg
Open On-Chip Debugger 0.9.0 (2015-11-15-05:39)
Licensed under GNU GPL v2
For bug reports, read
	http://openoc

[2016-05-11 15:50] anujdeshpande commented on #3
Hi @salma-abdulaziz-ahmed Have you tried it with `sudo` ?

[2016-05-11 15:52] salma-abdulaziz-ahmed commented on #3
you mean the above command? yes

[2016-05-11 15:54] anujdeshpande commented on #3
@salma-abdulaziz-ahmed can you share the output of the following command
```ls -l  /dev/tty.usbserial*```

[2016-05-11 15:54] salma-abdulaziz-ahmed commented on #3
when I connect the device I can not find it under USB in system profiler
when I run ls -l /dev/tty.* , I can not see any usbserial connections

[2016-05-11 15:55] salma-abdulaziz-ahmed commented on #3
Salmas-MacBook-Pro:aws_starter_sdk salmaabdulaziz$ ls -l /dev/tty.*
crw-rw-rw-  1 root  wheel   18,   0 May 11 14:57 /dev/tty.Bluetooth-Incoming-Port
crw-rw-rw-  1 root  wheel   18,   2 May 11 14:57 /dev/tty.salmaabdulazizsMacBookP

[2016-05-11 15:55] anujdeshpande commented on #3
@salma-abdulaziz-ahmed have you changed the configuration of the onboard jumpers ?

[2016-05-11 15:57] salma-abdulaziz-ahmed commented on #3
no just pressed on RESETn and GPIO_24. I don't know whether they can make any change

[2016-05-11 15:58] anujdeshpande commented on #3
Can you verify that the onboard jumpers are in similar positions as found on https://raw.githubusercontent.com/marvell-iot/aws_starter_sdk_wiki_images/master/RD-88MW302-A0-V2%20wo%20shield.jpeg

[2016-05-11 16:05] salma-abdulaziz-ahmed commented on #3
I found a jumper not in position but I fixed it.
Unfortunately, this didn't solve the problem

[2016-05-11 16:06] anujdeshpande commented on #3
@salma-abdulaziz-ahmed did you power cycle the board after fixing the jumper ?

[2016-05-11 16:06] salma-abdulaziz-ahmed commented on #3
how to power cycle? you mean reconnecting it?

[2016-05-11 16:07] anujdeshpande commented on #3
@salma-abdulaziz-ahmed Yes. remove all power sources and then reconnect.
Also, please follow all the steps mentioned [here](https://github.com/marvell-iot/aws_starter_sdk/wiki/Mac-Development-Host-Setup)
Let me know how it goes.

[2016-05-11 16:09] salma-abdulaziz-ahmed commented on #3
I followed all the steps. the same problem

[2016-05-11 16:18] anujdeshpande commented on #3
@salma-abdulaziz-ahmed can you share the output of
```uname -a```
I can try to find a Mac with similar specs and try to reproduce the error

[2016-05-11 16:21] salma-abdulaziz-ahmed commented on #3
Darwin Salmas-MacBook-Pro.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64

[2016-05-11 16:21] salma-abdulaziz-ahmed commented on #3
I connected the same board to windows and can not find the device as well so I don't think it is a mac specific problem

[2016-06-03 16:25] moondt commented on #37
Never did get the binary build past the axf stage, but the binary you released on 02 May 2016 solved the larger issue, thank you for that @anujdeshpande.

[2016-06-03 16:25] #37 closed

[2016-06-11 17:37] wind-rider opened #40 "SDK for EZ-Connect / 88MC200+88W8801"
While this SDK does offer support for 88MC300, looking at [this config file](https://github.com/marvell-iot/aws_starter_sdk/blob/master/.config#L8-L11) it seems there is no support for 88MC200.

Could you please add support for the 88MC200+88W8801 pair?

[2016-06-13 07:16] anujdeshpande commented on #40
Hi @wind-rider the 88MC200 board is not openly available. This SDK is targeted for people who are using the AWS starter kit https://www.amazon.com/Globalscale-MW302-IoT-Starter-Powered/dp/B0168DLQHI/ref=sr_1_1 which is more widely available.

[2016-07-16 18:42] saurabhginde opened #41 "documentation of the functions ?"
do you guys have any documentation of the functions used in the codes , also i am having trouble finding their definitions in the given sdk . I am trying to interface a bluetooth HC05 with the board ,wherein I am  also having troubles getting data sent from my mobile application(bluetooth terminal)  back to minicom using the sample uart code. any documentation regarding the functions would really

[2016-07-16 18:52] #41 closed

[2016-08-03 08:28] #40 closed

[2016-08-03 08:29] #8 closed

[2016-08-06 08:12] truedat101 opened #43 "flash.py tools path in wiki don't match actual master"
https://github.com/marvell-iot/aws_starter_sdk/wiki/Flashing-the-Starter-Kit

sudo wmsdk/tools/OpenOCD/flash.py

is really:

sudo sdk/tools/OpenOCD/flash.py

[2016-08-06 08:18] truedat101 opened #44 "flash.py should have 744 permissions if it is intended to be used according to wiki"
either document use with python flash.py

or make sure that flash.py is set to permission 744 in the release

[2016-08-08 05:13] anujdeshpande commented on #43
@truedat101 Thanks for pointing out ! It has been fixed in the wiki

Also, we are in the process of moving the docs from the wiki to  http://marvell-iot.github.io/

[2016-08-08 05:13] #43 closed

[2016-08-08 05:13] #35 closed

[2016-08-08 07:21] anujdeshpande commented on #44
Hi @truedat101 thanks for pointing it out !
https://github.com/marvell-iot/aws_starter_sdk/commit/59a957e996d2b952d0a3c027b715414909985f98
This commit fixes it, 755 for `flash.py` as well as `openocd.py`. `ramload.py` already had it set correctly.
There's a new release that's coming soon, I'll bundle these changes with that. Will keep this  open for the time being.

[2016-08-11 05:08] #44 closed

[2016-09-01 18:04] spasse commented on #28
My solution isn't pretty, but it changes my uptime from several minutes to days.  The problem
appears to be that the timer passed to readPacket() sometimes is set to 0.  I just blindly
change it to 10.  Note that there appear to be other instances where it is supposed to be
less than 10 (1?), but always setting it to 10 seems to do no harm...

sdk/external/aws_iot/aws_mqtt_embedded_client_lib/MQTT

[2016-09-02 02:33] anujdeshpande commented on #28
Hi @spasse Looks like you are using an older version of the SDK as well as the associated AWS agent. We have since updated the SDK and more importantly the AWS agent (it's now at 2.1)
https://github.com/marvell-iot/aws_starter_sdk/tree/master/sdk/external/aws_iot

cc @nikitanerkar

[2016-09-02 14:25] spasse commented on #28
Hi,

This is a commercial product requiring the use of wmsdk-3.3.33.  I will
upgrade to the external/aws_iot and compare results.

Steve

On Thu, Sep 1, 2016 at 8:33 PM, Anuj Deshpande <notifications@github.com>
wrote:

[2016-09-06 10:35] stevensxl opened #45 "Error: libusb_open() failed with LIBUSB_ERROR_NOT_SUPPORTED on Win10"
GNU ARM Eclipse 64-bits Open On-Chip Debugger 0.10.0-dev-00287-g85cec24-dirty (2016-01-10-10:13)
Licensed under GNU GPL v2
For bug reports, read
        http://openocd.org/doc/doxygen/bugs.html
adapter speed: 5000 kHz
jtag_ntrst_delay: 100
cortex_m reset_config sysresetreq
Error: libusb_open() failed with LIBUSB_ERROR_NOT_SUPPORTED
Info : clock speed 5000 kHz

Is there any suggestion for the libus

[2016-09-06 11:03] stevensxl commented on #45
Hi, I found this issue only happens when my blue tooth mouse is plugged into a specific port. After changed the port for my mouse, this issue is solved.

[2016-09-07 07:29] anujdeshpande commented on #45
@stevensxl Are you using OpenOCD 0.10 ? Can you try with OpenOCD 0.9 ? The current supported version is 0.9Also, you installed the drivers using Zadig installer right ? We have instructions for that [here](http://marvell-iot.github.io/docs/windows-host-setup/)

PS: We are in the process of migrating from aws_starter_sdk to ez-connect-lite : https://github.com/marvell-iot/ez-connect-lite (right now

[2016-09-07 07:59] anujdeshpande commented on #32
@sodle We have a new aws agent now, up to date with the latest aws embedded c SDK. I am closing this issue, if you get the same issue with the new version, please open a new issue

[2016-09-07 07:59] #32 closed

[2016-09-07 08:11] anujdeshpande commented on #28
@spasse If you face any issues doing that, please send a request to anuj AT marvell DOT com and I'll provide you a patch for doing that.

[2016-09-07 08:11] #28 closed

[2016-09-07 08:18] #24 closed

[2016-09-07 15:39] spasse commented on #28
Anuj,

I upgraded the sdk to wmsdk-3.4.6
I replaced sdk/external/aws_iot with the 2.1 version from the gitHub site
as of Sept. 2
Modified my program to deal with function signature changes, etc.
Ran overnite on 3 boards.

2 of the 3 boards were in the:

Publishing '{"state": {"reported":{"pb":5}}}' to AWS
Sending property failed

state!

1 of the 3 boards was still connected and working properly.

[2016-09-07 16:05] anujdeshpande commented on #28
@spasse Please drop a line at anuj AT marvell DOT com. I can't offer much help here as this is off-context for wmsdk (any version)

[2016-12-26 23:16] aj8 opened #46 "Documentation/project: align to EZConnect 3.5"
flash.py appears to have been replaced with flashprog.py. Documentation and the shortcuts in .settings need to be aligned to the new script.

[2016-12-28 06:38] #46 closed

[2016-12-28 06:39] anujdeshpande commented on #46
Good catch !
Fixed

[2017-03-28 23:03] josecarballoGL opened #47 "[httpd] Error: buf full: recv didn't read complete line."
When trying to pass AWS IoT certificate and private key during provisioning I get:

[httpd] Error: buf full: recv didn't read complete line.
[httpd] Error: Unknown request type  ...
[httpd] Error: recv failed len: 0, err: 113
[httpd] Error: Could not read from socket

I am following http://marvell-iot.github.io/docs/aws-iot/

[2017-03-29 09:41] anujdeshpande commented on #47
Those errors are actually warnings. This will be fixed in a future release. Right now you can ignore them and go ahead

[2017-03-29 16:15] josecarballoGL commented on #47
Is not a warning, it is an error and is overflowing the buffers. At the point that it is interpreting data from my certificate as a "request type". Could you please try to reproduce it? I cannot connecto to AWS IoT with this error, as the certificate/private key are not correctly transferred to the device.

[2017-03-30 09:04] nikitanerkar commented on #47
Could you please post the certificate and private key size here ? The current provision is of 2K for certificate and the key which is sufficient for AWS IoT generated certificate-key pair. If you have manually generated the certificate-key or trying to provision the device using JITC, please hard-code the certificate and the key in the application.

[2017-03-30 15:15] josecarballoGL commented on #47
I statically tracked the issue in the actual WMSDK 3.5 source code and the issue seems related to the size of the msg_in (128) buffer size in httpd_handle.c::httpd_handle_message(). Not related to the 2k buffer for the certificate/private key. Here the sizes of the certificate:

[code]
I manually generated the certificate as specified in this tutorial: http://marvell-iot.github.io/docs/aws-iot/#-a

[2017-04-03 11:58] mintisan commented on #6
@anujdeshpande It works for me to use your way, thanks.

[code]

some versions as below:
[code]

[2017-04-03 12:34] anujdeshpande commented on #47
@josecarballoGL if you have access to WMSDK, can you please open a support ticket on Salesforce?

[2017-04-03 12:38] mintisan commented on #6
@anujdeshpande but I can't use usb-uart to log message...

[2017-05-17 10:43] herbertjkelly opened #48 "Cannot build aws_starter_demo"
I am trying to build aws_starter_demo but I am getting the following error

`dk/libs/libwmsdk.a(internal_fp0.o): In function `MatchDomainName.part.3':
(.text.MatchDomainName.part.3+0xa0): undefined reference to `__ctype_ptr__'
sdk/libs/libwmsdk.a(integer_fp0.o): In function `mp_read_radix':`

It looks to be something related newlib... any ideas on getting this to work ?

The hello world app worked

[2017-10-04 10:19] maxdd opened #49 "NTP example gives "ntp: no resp received" 9 times out of 10"
The current implementation returns

```"ntp: no resp received"```

almost always aside from some cases where it retrieves the time instantly.
Clearly it is not as reliable as i would expect

Could it be a bad packet format?

[2018-01-02 21:22] wc2507 opened #50 "Load thing name/cert/private key from config.mfg file"
I am able to connect/interact with my device thing's shadow using the web provisioning api to load the name, region, cert, and key.

I am unclear on how to transition to using the config.mfg file to avoid having to enter the values using the web api. I have completed the following steps:
`
`
     a) added line to build.mk:
`          project-mfg-cfg-y := config.mfg
`
b) Open config.mfg and set aws

[2018-04-06 10:09] tushgawai opened #51 "AWS connect error"
I have successfully configured the kit with my wifi network. Minicom terminal shows
Connected successfully to the configured network
aws shadow connect failed : -3

Data is not being uploaded to the AWS Cloud. Please help in resolving this issue.
I have attatched the screenshot as well. Thank You
![screenshot from 2018-04-06 15-38-06](https://user-images.githubusercontent.com/26883923/38415914-935

[2018-05-14 19:44] vshymanskyy commented on #48
Facing the same issue with new sdk: https://github.com/marvell-iot/ez-connect-lite/issues/9